@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Zen+Kurenaido&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto Mono', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Hero Section*/
#hero{
    background-size: cover;
    background-position: top center;
    position: relative;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-chinese-style-elegant-pattern-advertising-background-styleelegantelegantflower-branchgoldxiangyunhand-painted-image_77403.jpg)
}

#hero h1{
    color:white;
    font-size: 4rem;
    width: fit-content;
    position: relative;
    display: block;
}

/*Hero Section End*/